@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");

/* adding my 3 fonts now */
@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans+Deva:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* commenting this out after noticing js I already needed is included in scripts.js */
/* adding my css here */
/* .word :last-child {
  text-transform: uppercase;
}

.word :nth-child(2n) {
  background-color: lightyellow;
} */

/* adding span on each so that the border-color property works */

/* Sample CSS for the WHY word */

span.whyWLetter {
  border-color: #41b465;
  top: 12px;
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

span.whyHLetter {
  border-color: #8edc17;
  top: 18px;
  background-color: rgb(225, 236, 29);
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

span.whyYLetter {
  top: 17px;
  background-color: rgb(94, 217, 226);
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

/* DID word */

span.didDLetter {
  border-color: #9e8dae;
  top: 7px;
  color: rgb(137, 173, 71);
  font-size: 48px;
  font-weight: bold;
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Piazzolla", sans-serif;
  background-color: rgb(80, 65, 64);
}

span.didILetter {
  border-color: #2d68cc;
  bottom: 10px;
  color: rgb(152, 63, 55);
  font-size: 49px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: "Piazzolla", sans-serif;
  background-color: rgb(18, 108, 171);
}

span.didDTwoLetter {
  border-color: #eb2c1a;
  bottom: 19px;
  color: rgb(150, 59, 82);
  font-size: 40px;
  font-weight: bold;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Piazzolla", sans-serif;
  background-color: rgb(197, 231, 23);
}

/* THE word */

span.theTLetter {
  border-color: #4d74c0;
  top: 0px;
  color: rgb(100, 88, 146);
  font-size: 46px;
  font-weight: bold;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Piazzolla", sans-serif;
  background-color: rgb(86, 243, 238);
}

span.theHLetter {
  border-color: #54b9a6;
  bottom: 19px;
  color: rgb(119, 197, 2);
  font-size: 44px;
  font-weight: normal;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
  background-color: rgb(243, 72, 53);
}

span.theELetter {
  border-color: #6b684a;
  top: 0px;
  color: rgb(197, 42, 176);
  font-size: 41px;
  font-weight: normal;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: "Piazzolla", sans-serif;
  background-color: rgb(226, 96, 3);
}

/* FRONT-END word */

span.frontendFLetter {
  border-color: #75fa97;
  bottom: 19px;
  color: rgb(103, 29, 151);
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  background-color: rgb(135, 96, 71);
}

span.frontendRLetter {
  border-color: #96f27f;
  top: 16px;
  color: rgb(49, 84, 16);
  font-size: 45px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  background-color: rgb(218, 26, 76);
}

span.frontendOLetter {
  border-color: #e6cf62;
  bottom: 12px;
  color: rgb(22, 109, 92);
  font-size: 48px;
  font-weight: bold;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Poetsen One", sans-serif;
  background-color: rgb(135, 173, 95);
}

span.frontendNLetter {
  border-color: #107a69;
  bottom: 4px;
  color: rgb(132, 96, 236);
  font-size: 47px;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
  background-color: rgb(51, 98, 18);
}

span.frontendTLetter {
  border-color: #e18478;
  top: 7px;
  color: rgb(59, 64, 95);
  font-size: 43px;
  font-weight: bold;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: "Oswald", sans-serif;
  background-color: rgb(175, 18, 85);
}

span.frontendELetter {
  border-color: #f2fc7f;
  top: 9px;
  color: rgb(207, 161, 167);
  font-size: 44px;
  font-weight: normal;
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Raleway Dots", sans-serif;
  background-color: rgb(155, 73, 252);
}

span.frontendNTwoLetter {
  border-color: #22a4d9;
  top: 19px;
  color: rgb(78, 242, 202);
  font-size: 43px;
  font-weight: bold;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
  background-color: rgb(166, 9, 89);
}

span.frontendDLetter {
  border-color: #c2d33c;
  top: 12px;
  color: rgb(130, 139, 191);
  font-size: 48px;
  font-weight: normal;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Oswald", sans-serif;
  background-color: rgb(211, 6, 0);
}

/* DEVELOPER word */

span.developerDLetter {
  border-color: #14bee4;
  top: 3px;
  color: rgb(112, 139, 165);
  font-size: 40px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: "Raleway Dots", sans-serif;
  background-color: rgb(240, 158, 167);
}
span.developerELetter {
  border-color: #a288aa;
  bottom: 7px;
  color: rgb(123, 107, 154);
  font-size: 47px;
  font-weight: normal;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
  background-color: rgb(214, 39, 68);
}
span.developerVLetter {
  border-color: #ef055a;
  bottom: 2px;
  color: rgb(245, 115, 231);
  font-size: 40px;
  font-weight: normal;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Poetsen One", sans-serif;
  background-color: rgb(40, 113, 127);
}
span.developerETwoLetter {
  border-color: #c78a0c;
  bottom: 3px;
  color: rgb(76, 152, 107);
  font-size: 44px;
  font-weight: normal;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
  background-color: rgb(31, 239, 190);
}
span.developerLLetter {
  border-color: #88c3d0;
  bottom: 12px;
  color: rgb(130, 87, 117);
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Oswald", sans-serif;
  background-color: rgb(159, 91, 182);
}
span.developerOLetter {
  border-color: #350113;
  bottom: 13px;
  color: rgb(34, 221, 136);
  font-size: 48px;
  font-weight: bold;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Playpen Sans Deva", sans-serif;
  background-color: rgb(172, 18, 22);
}
span.developerPLetter {
  border-color: #2d9a2e;
  top: 9px;
  color: rgb(188, 171, 228);
  font-size: 45px;
  font-weight: bold;
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Piazzolla", sans-serif;
  background-color: rgb(90, 34, 59);
}
span.developerEThreeLetter {
  border-color: #c4c754;
  bottom: 13px;
  color: rgb(80, 183, 61);
  font-size: 44px;
  font-weight: bold;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  background-color: rgb(110, 20, 59);
}
span.developerRLetter {
  border-color: #bab48d;
  bottom: 15px;
  color: rgb(99, 21, 196);
  font-size: 41px;
  font-weight: normal;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Piazzolla", sans-serif;
  background-color: rgb(182, 101, 229);
}

/* TAKE word */

span.takeTLetter {
  border-color: #b7abe9;
  bottom: 2px;
  color: rgb(72, 52, 204);
  font-size: 47px;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Ceviche One", sans-serif;
  background-color: rgb(194, 151, 174);
}
span.takeALetter {
  border-color: #f5b00a;
  bottom: 9px;
  color: rgb(233, 50, 216);
  font-size: 42px;
  font-weight: normal;
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
  background-color: rgb(93, 56, 208);
}
span.takeKLetter {
  bottom: 12px;
  color: rgb(121, 62, 71);
  font-size: 43px;
  font-weight: bold;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Poetsen One", sans-serif;
  background-color: rgb(96, 133, 103);
}
span.takeELetter {
  border-color: #a0a0e8;
  top: 6px;
  color: rgb(185, 148, 145);
  font-size: 44px;
  font-weight: normal;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazzolla", sans-serif;
  background-color: rgb(170, 105, 59);
}

/* UP word */

span.upULetter {
  border-color: #6565e0;
  top: 17px;
  color: rgb(36, 225, 135);
  font-size: 40px;
  font-weight: normal;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  background-color: rgb(44, 161, 44);
}
span.upPLetter {
  border-color: #c28275;
  top: 4px;
  color: rgb(100, 83, 215);
  font-size: 41px;
  font-weight: normal;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Poetsen One", sans-serif;
  background-color: rgb(34, 91, 163);
}

/* GARDENING word */

span.gardeningGLetter {
  border-color: #2b389d;
  bottom: 11px;
  color: rgb(25, 80, 106);
  font-size: 41px;
  font-weight: bold;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
  background-color: rgb(94, 197, 111);
}
span.gardeningALetter {
  border-color: #da7dc2;
  bottom: 5px;
  color: rgb(255, 13, 232);
  font-size: 44px;
  font-weight: normal;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: "Raleway Dots", sans-serif;
  background-color: rgb(28, 19, 236);
}
span.gardeningRLetter {
  border-color: #f0dd09;
  top: 0px;
  color: rgb(252, 141, 19);
  font-size: 47px;
  font-weight: bold;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Piazzolla", sans-serif;
  background-color: rgb(244, 51, 22);
}
span.gardeningDLetter {
  border-color: #e4ed4b;
  top: 4px;
  color: rgb(211, 12, 34);
  font-size: 45px;
  font-weight: bold;
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Piazzolla", sans-serif;
  background-color: rgb(58, 242, 11);
}
span.gardeningELetter {
  border-color: #44b135;
  bottom: 6px;
  color: rgb(198, 209, 7);
  font-size: 40px;
  font-weight: normal;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Piazzolla", sans-serif;
  background-color: rgb(85, 44, 247);
}
span.gardeningNLetter {
  border-color: #b65f67;
  top: 0px;
  color: rgb(195, 63, 220);
  font-size: 44px;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Poetsen One", sans-serif;
  background-color: rgb(111, 149, 202);
}
span.gardeningILetter {
  border-color: #5dd993;
  top: 15px;
  color: rgb(194, 27, 216);
  font-size: 48px;
  font-weight: normal;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: "Raleway Dots", sans-serif;
}
span.gardeningNTwoLetter {
  border-color: #11e854;
  top: 12px;
  color: rgb(215, 220, 236);
  font-size: 46px;
  font-weight: bold;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  background-color: rgb(208, 43, 184);
}
span.gardeningGTwoLetter {
  border-color: #966f31;
  top: 14px;
  color: rgb(54, 104, 182);
  font-size: 48px;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Ceviche One", sans-serif;
  background-color: rgb(148, 74, 235);
}

/* BECAUSE word */

span.becauseBLetter {
  border-color: #b53b18;
  bottom: 14px;
  color: rgb(204, 58, 230);
  font-size: 47px;
  font-weight: normal;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Piazzolla", sans-serif;
  background-color: rgb(91, 251, 209);
}
span.becauseELetter {
  border-color: #18016c;
  top: 10px;
  color: rgb(20, 21, 97);
  font-size: 42px;
  font-weight: 400;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Ceviche One", sans-serif;
  background-color: rgb(52, 53, 87);
}
span.becauseCLetter {
  bottom: 11px;
  color: rgb(47, 131, 57);
  font-size: 46px;
  font-weight: bold;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Oswald", sans-serif;
  background-color: rgb(120, 98, 39);
}
span.becauseALetter {
  border-color: #6ce7e1;
  bottom: 16px;
  color: rgb(154, 68, 228);
  font-size: 44px;
  font-weight: bold;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Piazzolla", sans-serif;
  background-color: rgb(247, 46, 19);
}
span.becauseULetter {
  border-color: #e33e24;
  bottom: 2px;
  color: rgb(34, 42, 115);
  font-size: 49px;
  font-weight: bold;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Piazzolla", sans-serif;
  background-color: rgb(47, 169, 84);
}
span.becauseSLetter {
  border-color: #34f215;
  top: 6px;
  color: rgb(108, 54, 69);
  font-size: 41px;
  font-weight: normal;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
  background-color: rgb(75, 192, 78);
}
span.becauseETwoLetter {
  border-color: #5d964d;
  top: 3px;
  color: rgb(206, 255, 198);
  font-size: 41px;
  font-weight: normal;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Oswald", sans-serif;
  background-color: rgb(218, 132, 223);
}

/* THEY word */

span.theyTLetter {
  border-color: #ceffc6;
  bottom: 18px;
  color: rgb(93, 150, 77);
  font-size: 46px;
  font-weight: normal;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
  background-color: rgb(42, 135, 120);
}
span.theyHLetter {
  border-color: #6c3645;
  top: 7px;
  color: rgb(52, 242, 21);
  font-size: 40px;
  font-weight: bold;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Playpen Sans Deva", sans-serif;
  background-color: rgb(237, 79, 15);
}
span.theyELetter {
  border-color: #222a73;
  bottom: 12px;
  color: rgb(227, 62, 36);
  font-size: 40px;
  font-weight: normal;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  background-color: rgb(98, 247, 251);
}
span.theyYLetter {
  border-color: #9a44e4;
  bottom: 10px;
  color: rgb(108, 231, 225);
  font-size: 47px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Playpen Sans Deva", sans-serif;
  background-color: rgb(101, 192, 210);
}

/* WANTED word */

span.wantedWLetter {
  border-color: #2f8339;
  top: 8px;
  font-size: 45px;
  font-weight: normal;
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Playpen Sans Deva", sans-serif;
  background-color: rgb(179, 23, 146);
}
span.wantedALetter {
  border-color: #141561;
  top: 8px;
  color: rgb(24, 1, 108);
  font-size: 46px;
  font-weight: normal;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
  background-color: rgb(50, 187, 78);
}
span.wantedNLetter {
  border-color: #cc3ae6;
  bottom: 17px;
  color: rgb(181, 59, 24);
  font-size: 48px;
  font-weight: bold;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Oswald", sans-serif;
  background-color: rgb(242, 62, 82);
}
span.wantedTLetter {
  border-color: #704452;
  top: 8px;
  color: rgb(236, 193, 129);
  font-size: 46px;
  font-weight: bold;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
  background-color: rgb(128, 157, 226);
}
span.wantedELetter {
  border-color: #3668b6;
  top: 11px;
  color: rgb(150, 111, 49);
  font-size: 45px;
  font-weight: bold;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Poetsen One", sans-serif;
  background-color: rgb(98, 18, 149);
}
span.wantedDLetter {
  border-color: #d7dcec;
  top: 14px;
  color: rgb(17, 232, 84);
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Poetsen One", sans-serif;
  background-color: rgb(47, 62, 154);
}

/* TO word */

span.toTLetter {
  border-color: #c21bd8;
  top: 1px;
  color: rgb(93, 217, 147);
  font-size: 49px;
  font-weight: normal;
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Piazzolla", sans-serif;
}
span.toOLetter {
  border-color: #f2d0f9;
  top: 5px;
  color: rgb(182, 95, 103);
  font-size: 48px;
  font-weight: 400;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Piazzolla", sans-serif;
  background-color: rgb(98, 132, 203);
}

/* IMPROVE word */

span.improveILetter {
  border-color: #c6d107;
  bottom: 11px;
  color: rgb(68, 177, 53);
  font-size: 43px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Poetsen One", sans-serif;
  background-color: rgb(184, 237, 141);
}
span.improveMLetter {
  border-color: #d30c22;
  top: 11px;
  color: rgb(228, 237, 75);
  font-size: 40px;
  font-weight: normal;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Ceviche One", sans-serif;
  background-color: rgb(238, 224, 243);
}
span.improvePLetter {
  border-color: #fc8d13;
  top: 8px;
  color: rgb(240, 221, 9);
  font-size: 43px;
  font-weight: normal;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: "Oswald", sans-serif;
  background-color: rgb(228, 178, 69);
}
span.improveRLetter {
  border-color: #ff0de8;
  top: 3px;
  color: rgb(218, 125, 194);
  font-size: 45px;
  font-weight: bold;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Ceviche One", sans-serif;
  background-color: rgb(42, 22, 154);
}
span.improveOLetter {
  border-color: #19506a;
  bottom: 14px;
  color: rgb(43, 56, 157);
  font-size: 47px;
  font-weight: bold;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  background-color: rgb(198, 2, 34);
}
span.improveVLetter {
  border-color: #6453d7;
  bottom: 2px;
  color: rgb(194, 130, 117);
  font-size: 48px;
  font-weight: 400;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: "Poetsen One", sans-serif;
  background-color: rgb(65, 222, 177);
}
span.improveELetter {
  border-color: #24e187;
  top: 10px;
  color: rgb(101, 101, 224);
  font-size: 49px;
  font-weight: bold;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Raleway Dots", sans-serif;
  background-color: rgb(174, 192, 221);
}

/* THEIR word */

span.theirTLetter {
  border-color: #b99491;
  bottom: 19px;
  font-size: 48px;
  font-weight: normal;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Piazzolla", sans-serif;
  background-color: rgb(120, 222, 48);
}
span.theirHLetter {
  border-color: #793e47;
  top: 11px;
  font-size: 43px;
  font-weight: bold;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Oswald", sans-serif;
  background-color: rgb(230, 195, 180);
}
span.theirELetter {
  border-color: #e932d8;
  top: 11px;
  color: rgb(245, 176, 10);
  font-size: 45px;
  font-weight: normal;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
  background-color: rgb(41, 44, 199);
}
span.theirILetter {
  border-color: #4834cc;
  top: 7px;
  color: rgb(183, 171, 233);
  font-size: 47px;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazzolla", sans-serif;
  background-color: rgb(180, 237, 172);
}
span.theirRLetter {
  border-color: #6315c4;
  top: 19px;
  color: rgb(186, 180, 141);
  font-size: 49px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Ceviche One", sans-serif;
  background-color: rgb(25, 19, 21);
}

/* ROOT word */

span.rootRLetter {
  border-color: #50b73d;
  top: 0px;
  color: rgb(196, 199, 84);
  font-size: 47px;
  font-weight: 700;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Poetsen One", sans-serif;
  background-color: rgb(198, 22, 149);
}
span.rootOLetter {
  border-color: #bcabe4;
  bottom: 15px;
  color: rgb(45, 154, 46);
  font-size: 41px;
  font-weight: bold;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Ceviche One", sans-serif;
  background-color: rgb(119, 250, 132);
}
span.rootOTwoLetter {
  border-color: #9ff1cc;
  bottom: 10px;
  color: rgb(53, 1, 19);
  font-size: 41px;
  font-weight: normal;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Oswald", sans-serif;
  background-color: rgb(180, 12, 69);
}
span.rootTLetter {
  border-color: #825775;
  top: 3px;
  color: rgb(136, 195, 208);
  font-size: 41px;
  font-weight: bold;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Playpen Sans Deva", sans-serif;
  background-color: rgb(206, 96, 26);
}

/* SKILLS word */

span.skillsSLetter {
  border-color: #4c986b;
  bottom: 17px;
  color: rgb(199, 138, 12);
  font-size: 43px;
  font-weight: normal;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
  background-color: rgb(82, 251, 125);
}
span.skillsKLetter {
  border-color: #f573e7;
  bottom: 2px;
  color: rgb(239, 5, 90);
  font-size: 43px;
  font-weight: normal;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
  background-color: rgb(20, 139, 70);
}
span.skillsILetter {
  border-color: #7b6b9a;
  top: 18px;
  color: rgb(162, 136, 170);
  font-size: 43px;
  font-weight: bold;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Piazzolla", sans-serif;
  background-color: rgb(157, 196, 134);
}
span.skillsLLetter {
  border-color: #708ba5;
  top: 11px;
  color: rgb(20, 190, 228);
  font-size: 43px;
  font-weight: normal;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Playpen Sans Deva", sans-serif;
  background-color: rgb(58, 118, 198);
}
span.skillsLTwoLetter {
  border-color: #f7d307;
  top: 33px;
  font-size: 69px;
  font-weight: 700;
  color: rgb(120, 36, 6);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}
span.skillsSTwoLetter {
  border-color: #4ef2ca;
  bottom: 2px;
  color: rgb(34, 164, 217);
  font-size: 49px;
  font-weight: bold;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  background-color: rgb(39, 133, 89);
}

/* SYMBOLS */

span.hyphen {
  border-color: #6941a9;
  top: 6px;
  color: rgb(187, 215, 143);
  font-size: 42px;
  font-weight: 400;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Ceviche One", sans-serif;
  background-color: rgb(16, 43, 124);
}
span.exclamation-mark {
  border-color: #cfa1a7;
  top: 3px;
  color: rgb(242, 252, 127);
  font-size: 40px;
  font-weight: bold;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Piazzolla", sans-serif;
  background-color: rgb(252, 144, 232);
}
span.question-mark {
  border-color: #ecc181;
  top: 3px;
  color: rgb(112, 68, 82);
  font-size: 44px;
  font-weight: 700;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Poetsen One", sans-serif;
  background-color: rgb(228, 219, 181);
}
